<div class="flex">
<mat-card class="card-form">
  <mat-card-title>Cadastro de usuários</mat-card-title>
  <mat-card-subtitle>Subtitulo</mat-card-subtitle>
  <mat-card-content>

    <!--
      informar que o formulário será validado pelo Driven Forms

      ngForm informa que o usuário utilizará o método de validação
      do template Driven Forms
    -->
   <form action="#" #userForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input type="text"
       matInput 
       [(ngModel)]="dadosUsuario.nome"
        name="Nome"
        required
        #inputNome="ngModel">
        <mat-error>Preencha o campo Nome</mat-error>
    </mat-form-field>  

    <mat-form-field appearance="outline">
      <mat-label>Sobrenome</mat-label>
      <input type="text" 
      matInput 
      [(ngModel)]="dadosUsuario.sobrenome" 
      name="Sobrenome"
      required>
      <mat-error>Preencha o campo Sobrenome</mat-error>
    </mat-form-field> 

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input type="email" 
      matInput 
      [(ngModel)]="dadosUsuario.email" 
      name="Email"
      placeholder="Ex. seu@email.com"
      required>
    </mat-form-field> 

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input type="password"
       matInput 
       [(ngModel)]="dadosUsuario.senha" 
       name="Senha"
       required
       minlength="8">
       <mat-error>Digite sua senha minimo 8 caracteres </mat-error>
    </mat-form-field> 

    <button type="submit" mat-raised-button color="primary">Cadastrar</button>
   </form>
  </mat-card-content>
</mat-card>
</div>